In [114]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [80]:

a = pd.read_csv("R_DrugBank.txt", delimiter="	", header = 0, names = ["Target", "Drug"])
len(a["Target"])
#len(target_num)
a

      Target     Drug
0     P13995  DB00116
1     P30872  DB06663
2     P30874  DB06663
3     O43526  DB00586
4     O43525  DB00586
...      ...      ...
9875  O60488  DB00412
9876  P51843  DB00755
9877  Q16348  DB01140
9878  P50416  DB01016
9879  P45452  DB00786

[9880 rows x 2 columns]

In [81]:
a["rel"] = 1

target_num = []
drug_num = []

con_table = pd.read_csv("convert_table", delimiter="	")

target_ct = con_table["UniProtKB Gene Name ID"]
gene_ct = con_table["NCBI gene (formerly Entrezgene) ID"]

for T in a["Target"] :
    exist = False
    for i, G in enumerate(target_ct) :
        length = len(con_table["UniProtKB Gene Name ID"])
        if T == G :
            exist = True
            target_num.append(gene_ct[i])
            break
            
        elif (i >= length -1) and (exist == False) :
            target_num.append(np.nan)
        
    if len(target_num) > 100000 :
        break
        
print(len(target_num))

9880

In [83]:
#target_num
a["gene_name"] = target_num

In [84]:
a.to_csv('a.csv', index=False, sep=' ')

In [86]:
t_d_g = pd.read_csv("a.csv", delimiter=" ")
t_d_g.dropna(inplace = True)
t_d_g.columns = ["Target", "Drug", "rel", "gene_name"]
t_d_g

      Target     Drug  rel    gene_name
0     P13995  DB00116    1  Gene::10797
1     P30872  DB06663    1   Gene::6751
2     P30874  DB06663    1   Gene::6752
3     O43526  DB00586    1   Gene::3785
4     O43525  DB00586    1   Gene::3786
...      ...      ...  ...          ...
9875  O60488  DB00412    1   Gene::2182
9876  P51843  DB00755    1    Gene::190
9877  Q16348  DB01140    1   Gene::6565
9878  P50416  DB01016    1   Gene::1374
9879  P45452  DB00786    1   Gene::4322

[9727 rows x 4 columns]

In [87]:
import pandas as pd
import numpy as np
import json

with open('entity_drug.json', 'r') as f:
    data = json.load(f)

df = pd.json_normalize(data)

df = df.T

In [88]:
df

                  0
Gene::801      1710
Gene::7428     1711
Gene::5987     1712
Gene::9412     1713
Gene::5747     1714
...             ...
Gene::255349  34119
Gene::387104  34120
Gene::347541  34121
Gene::4114    34122
Gene::80099   34123

[32414 rows x 1 columns]

In [89]:
#a=a.drop("gene_inco", axis = 1)
temp_list = []
for i in t_d_g["gene_name"] :
    exist = False
    for cn, j in enumerate(df.index) :
        length = len(df.index)
        if i == j :
            exist = True
            val = int(df[0].loc[j])
            temp_list.append(val)
            break
        elif cn == length -1 :
            temp_list.append(np.nan)

In [90]:
t_d_g["gene_inco"] = temp_list

In [105]:
t_d_g2 = t_d_g[t_d_g['gene_inco'].isna() == False]
t_d_g2['gene_inco'] = t_d_g2['gene_inco'].astype(int)
t_d_g2

/tmp/ipykernel_1045693/3721403052.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_d_g2['gene_inco'] = t_d_g2['gene_inco'].astype(int)

      Target     Drug  rel    gene_name  gene_inco
0     P13995  DB00116    1  Gene::10797      13061
1     P30872  DB06663    1   Gene::6751       8627
2     P30874  DB06663    1   Gene::6752       3636
3     O43526  DB00586    1   Gene::3785      12417
4     O43525  DB00586    1   Gene::3786      11743
...      ...      ...  ...          ...        ...
9875  O60488  DB00412    1   Gene::2182      13028
9876  P51843  DB00755    1    Gene::190       8511
9877  Q16348  DB01140    1   Gene::6565      15094
9878  P50416  DB01016    1   Gene::1374      11007
9879  P45452  DB00786    1   Gene::4322       4140

[9723 rows x 5 columns]

In [106]:
import json

# JSON 파일 경로 설정
json_file = 'node2id.json'

# JSON 파일 읽기
with open(json_file) as f:
    data = json.load(f)
    
    
#data

In [108]:
temp_list2 = [] 
for i in t_d_g2["Drug"].copy() :
    exist = False
    count = 0
    for name, number in data.items() :
        length = len(data)
        if i == name :
            exist = True
            temp_list2.append(number)
            break
        elif count >= length -1 :
            temp_list2.append(np.nan)
        count += 1
len(temp_list2)

9723

In [109]:
t_d_g2['drug_inco'] = temp_list2
t_d_g3 = t_d_g2[t_d_g2['drug_inco'].isna() == False]
t_d_g3

/tmp/ipykernel_1045693/722084861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_d_g2['drug_inco'] = temp_list2

      Target     Drug  rel   gene_name  gene_inco  drug_inco
1     P30872  DB06663    1  Gene::6751       8627     1030.0
2     P30874  DB06663    1  Gene::6752       3636     1030.0
3     O43526  DB00586    1  Gene::3785      12417      668.0
4     O43525  DB00586    1  Gene::3786      11743      668.0
5     P05177  DB00461    1  Gene::1544      12128      804.0
...      ...      ...  ...         ...        ...        ...
9874  P05164  DB00526    1  Gene::4353       8382     1171.0
9875  O60488  DB00412    1  Gene::2182      13028      514.0
9876  P51843  DB00755    1   Gene::190       8511      172.0
9877  Q16348  DB01140    1  Gene::6565      15094      851.0
9878  P50416  DB01016    1  Gene::1374      11007      526.0

[8890 rows x 6 columns]

/tmp/ipykernel_1045693/3045769039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_d_g3['drug_inco'] = t_d_g3['drug_inco'].astype(int)

      gene_inco  drug_inco  rel
1          8627       1030    1
2          3636       1030    1
3         12417        668    1
4         11743        668    1
5         12128        804    1
...         ...        ...  ...
9874       8382       1171    1
9875      13028        514    1
9876       8511        172    1
9877      15094        851    1
9878      11007        526    1

[8890 rows x 3 columns]

Training data shape: (6223, 3)
Testing data shape: (1777, 3)
Validation data shape: (890, 3)

      gene_inco  drug_inco  rel
6223       4252        260    1
6224       2987       1243    1
6225       5324        513    1
6226       1720        649    1
6227      18805        336    1
...         ...        ...  ...
7995       4590        511    1
7996       7309        317    1
7997      12417       1097    1
7998      18786        203    1
7999      18803       1428    1

[1777 rows x 3 columns]

hello

      gene_inco  drug_inco  rel
1          8627       1030    1
2          3636       1030    1
3         12417        668    1
4         11743        668    1
5         12128        804    1
...         ...        ...  ...
9874       8382       1171    1
9875      13028        514    1
9876       8511        172    1
9877      15094        851    1
9878      11007        526    1

[8890 rows x 3 columns]

{(8339, 1208),
 (7415, 823),
 (16269, 1345),
 (6988, 490),
 (4252, 1015),
 (1991, 638),
 (4590, 1047),
 (3327, 1196),
 (8342, 1627),
 (7086, 540),
 (18777, 1306),
 (12128, 1037),
 (18835, 264),
 (9970, 1310),
 (14278, 159),
 (13261, 1532),
 (18803, 1480),
 (4563, 540),
 (5077, 761),
 (4590, 1168),
 (8339, 282),
 (3272, 398),
 (10536, 940),
 (5324, 1392),
 (12846, 243),
 (12115, 438),
 (18777, 380),
 (9274, 681),
 (7555, 587),
 (7601, 703),
 (15658, 615),
 (15658, 386),
 (5164, 1295),
 (18803, 554),
 (4054, 262),
 (10929, 992),
 (4590, 242),
 (7109, 914),
 (9110, 694),
 (12128, 1050),
 (10964, 949),
 (18777, 501),
 (18777, 272),
 (7128, 375),
 (8339, 524),
 (2914, 932),
 (12846, 485),
 (8682, 634),
 (12944, 562),
 (12128, 1171),
 (7869, 494),
 (10964, 1070),
 (18777, 393),
 (7128, 496),
 (6464, 1270),
 (7128, 267),
 (12128, 124),
 (8339, 645),
 (2766, 889),
 (4590, 484),
 (8511, 119),
 (4590, 255),
 (8607, 581),
 (8607, 352),
 (17738, 1640),
 (9097, 179),
 (18777, 514),
 (7801, 188),
 (14649, 586),
 (11170, 1067),
 (7128, 388),
 (12128, 245),
 (17546, 652),
 (10746, 968),
 (2488, 248),
 (2256, 679),
 (10007, 1568),
 (16015, 1252),
 (4590, 376),
 (5730, 1517),
 (6988, 987),
 (10929, 308),
 (18780, 152),
 (3676, 1352),
 (12846, 619),
 (10964, 36),
 (12944, 925),
 (4590, 497),
 (5586, 196),
 (2914, 248),
 (12128, 1305),
 (10999, 488),
 (4817, 1671),
 (10999, 259),
 (9107, 880),
 (12128, 487),
 (4588, 801),
 (6464, 586),
 (5201, 735),
 (4590, 618),
 (5586, 317),
 (2914, 369),
 (13098, 695),
 (10999, 609),
 (8843, 1480),
 (12542, 248),
 (13066, 1157),
 (18790, 587),
 (18869, 1634),
 (17654, 548),
 (10202, 221),
 (16205, 1281),
 (12846, 632),
 (13699, 282),
 (10999, 501),
 (5586, 209),
 (14331, 495),
 (12128, 500),
 (4817, 866),
 (7086, 1400),
 (13066, 231),
 (7327, 708),
 (12542, 490),
 (4563, 1400),
 (3904, 303),
 (12916, 408),
 (5681, 567),
 (6548, 1172),
 (12128, 621),
 (14013, 455),
 (5866, 320),
 (17700, 677),
 (1991, 343),
 (4950, 1287),
 (2914, 732),
 (3272, 211),
 (18805, 585),
 (8607, 1078),
 (5164, 987),
 (18777, 1011),
 (8682, 434),
 (4817, 879),
 (3182, 668),
 (1818, 536),
 (18777, 193),
 (2841, 109),
 (9274, 494),
 (13066, 244),
 (4590, 1102),
 (8607, 1199),
 (15658, 199),
 (12846, 177),
 (18835, 319),
 (7895, 1407),
 (8607, 152),
 (5255, 179),
 (14026, 932),
 (6751, 201),
 (4022, 1705),
 (7895, 589),
 (14331, 750),
 (4590, 176),
 (15211, 274),
 (4252, 1083),
 (14868, 1103),
 (1991, 706),
 (4590, 1115),
 (8339, 458),
 (8607, 1212),
 (4875, 1247),
 (4152, 852),
 (2309, 463),
 (11060, 298),
 (8682, 568),
 (14890, 340),
 (12916, 663),
 (5681, 822),
 (1737, 1240),
 (8607, 394),
 (18777, 556),
 (12144, 1086),
 (18777, 327),
 (4590, 1465),
 (8339, 350),
 (7406, 145),
 (4054, 438),
 (12846, 311),
 (11531, 1007),
 (4590, 189),
 (4187, 1196),
 (6293, 275),
 (8607, 515),
 (6506, 1322),
 (15399, 981),
 (16034, 31),
 (10364, 608),
 (12846, 432),
 (4054, 559),
 (4590, 539),
 (12128, 1118),
 (4817, 1484),
 (4590, 310),
 (13033, 29),
 (8607, 636),
 (15393, 385),
 (8607, 407),
 (5164, 545),
 (6444, 565),
 (17748, 168),
 (18799, 99),
 (11531, 310),
 (12128, 300),
 (8616, 1358),
 (11951, 640),
 (5681, 1185),
 (14697, 308),
 (4590, 431),
 (10999, 193),
 (8607, 528),
 (7454, 320),
 (9040, 1578),
 (4506, 208),
 (5681, 138),
 (7128, 564),
 (13256, 572),
 (6545, 1640),
 (3272, 11),
 (10999, 314),
 (11730, 533),
 (3636, 1227),
 (13276, 672),
 (8608, 1251),
 (12128, 313),
 (8339, 834),
 (18779, 857),
 (14868, 661),
 (12846, 566),
 (13780, 1373),
 (5920, 1709),
 (13833, 445),
 (10999, 435),
 (1720, 215),
 (11102, 1085),
 (14013, 1086),
 (9426, 1361),
 (18777, 932),
 (7784, 208),
 (4713, 743),
 (4506, 679),
 (15394, 1121),
 (12128, 434),
 (8339, 955),
 (15094, 1125),
 (13066, 165),
 (10999, 556),
 (2914, 316),
 (18803, 59),
 (6364, 302),
 (8339, 1076),
 (7704, 565),
 (9946, 471),
 (10364, 1213),
 (7704, 336),
 (7895, 1328),
 (16382, 1504),
 (18777, 1174),
 (11345, 267),
 (4817, 813),
 (18779, 991),
 (18803, 1348),
 (3904, 1526),
 (11345, 1435),
 (5535, 46),
 (7601, 221),
 (10999, 569),
 (17826, 319),
 (6358, 1251),
 (18777, 1295),
 (5681, 514),
 (8339, 1318),
 (11345, 388),
 (6560, 190),
 (3776, 1196),
 (18777, 248),
 (1991, 519),
 (4590, 1157),
 (7680, 635),
 (15658, 254),
 (12991, 650),
 (15466, 1481),
 (10574, 403),
 (11345, 280),
 (3182, 844),
 (14278, 269),
 (14278, 40),
 (3832, 202),
 (11891, 453),
 (5535, 288),
 (17826, 332),
 (12542, 679),
 (7784, 813),
 (10929, 981),
 (7784, 584),
 (4590, 231),
 (10574, 524),
 (9946, 955),
 (7869, 362),
 (8607, 99),
 (6988, 384),
 (10007, 147),
 (7309, 964),
 (3253, 616),
 (5172, 357),
 (4590, 1170),
 (13833, 713),
 (7895, 536),
 (15658, 496),
 (15658, 267),
 (14510, 403),
 (11158, 925),
 (4590, 352),
 (11474, 407),
 (12115, 440),
 (13066, 662),
 (4590, 1291),
 (3272, 750),
 (16095, 655),
 (8516, 1004),
 (12449, 730),
 (13261, 608),
 (12846, 137),
 (18799, 1080),
 (4590, 244),
 (8167, 69),
 (8998, 226),
 (18867, 1480),
 (13098, 92),
 (10950, 1282),
 (14868, 1171),
 (9107, 398),
 (18790, 442),
 (4590, 1412),
 (8339, 526),
 (14868, 124),
 (6793, 1326),
 (8682, 636),
 (18780, 959),
 (7309, 159),
 (14697, 471),
 (8339, 1465),
 (8607, 462),
 (15549, 458),
 (11891, 708),
 (7128, 498),
 (7128, 269),
 (8339, 647),
 (5586, 1003),
 (9058, 1566),
 (6751, 282),
 (15658, 630),
 (14682, 55),
 (11531, 1304),
 (4590, 486),
 (5164, 721),
 (18779, 1609),
 (11891, 1058),
 (18777, 516),
 (12128, 247),
 (9946, 392),
 (3074, 1394),
 (12144, 457),
 (8352, 478),
 (12846, 500),
 (12653, 334),
 (8682, 878),
 (4604, 505),
 (5079, 798),
 (6293, 464),
 (18777, 637),
 (12806, 283),
 (9597, 396),
 (2379, 199),
 (8339, 660),
 (11919, 231),
 (18786, 871),
 (4426, 620),
 (12846, 621),
 (6610, 521),
 (4590, 499),
 (4633, 1098),
 (8998, 481),
 (6293, 585),
 (8829, 1426),
 (18777, 987),
 (14331, 255),
 (6225, 1353),
 (7128, 861),
 (7128, 632),
 (2766, 1254),
 (12662, 167),
 (8682, 1120),
 (14026, 558),
 (4590, 620),
 (12128, 1428),
 (15808, 937),
 (11901, 190),
 (14013, 215),
 (9274, 362),
 (16095, 334),
 (12542, 600),
 (15393, 587),
 (10964, 1448),
 (10007, 886),
 (8682, 194),
 (10204, 1171),
 (4817, 639),
 (2841, 98),
 (10964, 401),
 (15399, 486),
 (4590, 1091),
 (16095, 226),
 (7356, 179),
 (4590, 44),
 (12128, 852),
 (14254, 1566),
 (13066, 354),
 (7309, 1006),
 (8682, 1254),
 (11474, 1267),
 (13833, 526),
 (2914, 734),
 (5586, 453),
 (18805, 587),
 (13915, 1090),
 (12542, 613),
 (7128, 1116),
 (12030, 438),
 (13850, 1338),
 (6001, 668),
 (2334, 1098),
 (4817, 881),
 (4904, 769),
 (2841, 111),
 (15549, 258),
 (18777, 195),
 (6643, 1303),
 (14697, 981),
 (3272, 334),
 (18803, 598),
 (7895, 1409),
 (8607, 154),
 (7108, 1524),
 (6444, 312),
 (17187, 1568),
 (18777, 316),
 (9107, 211),
 (15394, 276),
 (12128, 47),
 (7680, 703),
 (9608, 1136),
 (18777, 437),
 (3272, 805),
 (10999, 1108),
 (8339, 231),
 (8755, 1341),
 (1913, 236),
 (12128, 1107),
 (6507, 637),
 (4590, 299),
 (14278, 458),
 (4116, 379),
 (18777, 558),
 (7128, 432),
 (7350, 1299),
 (8339, 352),
 (14868, 179),
 (14278, 579),
 (13440, 1200),
 (9274, 980),
 (15394, 639),
 (17474, 1466),
 (4116, 1439),
 (4590, 541),
 (10860, 1191),
 (4590, 312),
 (3772, 582),
 (10007, 457),
 (4590, 1480),
 (3664, 231),
 (8426, 482),
 (4590, 662),
 (4590, 433),
 (5001, 1428),
 (2398, 1085),
 (2847, 1177),
 (9116, 407),
 (7128, 566),
 (3664, 352),
 (5023, 665),
 (12196, 823),
 (10150, 1566),
 (14594, 10),
 (10929, 1304),
 (10430, 388),
 (4590, 554),
 (13066, 1093),
 (10929, 486),
 (12128, 544),
 (13833, 1494),
 (5681, 261),
 (18779, 859),
 (2537, 1257),
 (15004, 295),
 (12846, 568),
 (16034, 1335),
 (4590, 675),
 (5681, 1200),
 (15808, 992),
 (17726, 774),
 (14331, 431),
 (15394, 1123),
 (7379, 390),
 (5535, 35),
 (4129, 1633),
 (12219, 2),
 (10999, 558),
 (3664, 1533),
 (12542, 426),
 (7086, 289),
 (11597, 1187),
 (7309, 940),
 (13066, 59),
 (15394, 197),
 (7121, 889),
 (10999, 679),
 (5586, 387),
 (15658, 243),
 (8682, 370),
 (11891, 1260),
 (8682, 141),
 (18786, 1410),
 (14013, 283),
 (9546, 1118),
 (12944, 1237),
 (13033, 757),
 (8339, 152),
 (13098, 886),
 (12542, 668),
 (14639, 681),
 (7280, 1299),
 (8682, 262),
 (10318, 587),
 (5373, 400),
 (16529, 859),
 (9597, 827),
 (8339, 1091),
 (11891, 563),
 (7128, 124),
 (2914, 681),
 (5164, 1165),
 (10964, 1637),
 (5406, 698),
 (8737, 53),
 (5681, 637),
 (10574, 405),
 (8339, 1212),
 (12115, 200),
 (7182, 1299),
 (7128, 245),
 (7601, 694),
 (8339, 394),
 (4817, 10),
 (12542, 681),
 (12753, 1359),
 (4817, 1178),
 (14278, 392),
 (12069, 205),
 (6444, 259),
 (4590, 1401),
 (7128, 137),
 (18786, 497),
 (6506, 319),
 (3276, 1504),
 (4590, 354),
 (4590, 125),
 (11891, 697),
 (7128, 258),
 (5586, 992),
 (8339, 407),
 (7086, 1015),
 (4590, 475),
 (6161, 176),
 (8607, 572),
 (18777, 505),
 (13066, 556),
 (12128, 7),
 (2219, 603),
 (11990, 568),
 (6506, 332),
 (10929, 1346),
 (18780, 1190),
 (1913, 533),
 (4506, 1191),
 (4590, 596),
 (15808, 455),
 (18790, 565),
 (18790, 336),
 (2439, 764),
 (15658, 861),
 (7327, 1383),
 (18786, 860),
 (11532, 1531),
 (18779, 443),
 (18804, 1668),
 (6364, 1272),
 (11739, 289),
 (4590, 488),
 (8265, 885),
 (10999, 250),
 (14013, 1130),
 (8607, 585),
 (11143, 1426),
 (14331, 244),
 (13897, 955),
 (7128, 621),
 (2112, 490),
 (8039, 249),
 (7784, 1191),
 (12846, 502),
 (7309, 403),
 (14697, 486),
 (4590, 609),
 (1992, 839),
 (18805, 442),
 (10999, 371),
 (5681, 1134),
 (7327, 686),
 (6910, 1566),
 (12128, 370),
 (3516, 1633),
 (14331, 1533),
 (4252, 469),
 (12846, 623),
 (15738, 345),
 (10999, 492),
 (11730, 482),
 (6988, 1112),
 (6293, 587),
 (5739, 1196),
 (7801, 205),
 (7128, 634),
 (12128, 491),
 (12835, 878),
 (15106, 482),
 (10318, 1447),
 (10999, 613),
 (14278, 1010),
 (12010, 1640),
 (18777, 1110),
 (6373, 179),
 (18886, 1282),
 (5586, 1260),
 (18777, 63),
 (12944, 1400),
 (4054, 992),
 (11891, 376),
 (18780, 1566),
 (18842, 229),
 (12944, 1171),
 (14026, 681),
 (12835, 181),
 (4590, 743),
 (3272, 202),
 (2914, 494),
 (9438, 1226),
 (7086, 465),
 (6303, 1251),
 (17748, 601),
 (13329, 689),
 (8339, 1254),
 (15211, 23),
 (18777, 184),
 (10964, 403),
 (4563, 465),
 (13066, 235),
 (4590, 1093),
 (7601, 278),
 (4590, 864),
 (5586, 563),
 (12835, 73),
 (13699, 407),
 (8607, 961),
 (7784, 628),
 (18777, 1123),
 (8682, 317),
 (12030, 319),
 (4590, 46),
 (11901, 434),
 (8607, 143),
 (13086, 594),
 (18777, 305),
 (1991, 576),
 (18777, 76),
 (11743, 262),
 (14697, 1091),
 (12542, 615),
 (13830, 459),
 (8682, 438),
 (4590, 167),
 (12029, 969),
 (2841, 113),
 (13066, 477),
 (5451, 1169),
 (8236, 765),
 (8167, 931),
 (4054, 308),
 (14718, 1271),
 (13066, 1416),
 (4590, 288),
 (4590, 59),
 (4588, 1410),
 (8607, 385),
 (8607, 156),
 (18777, 318),
 (8283, 1227),
 (7128, 192),
 (2219, 187),
 (2234, 1219),
 (14278, 1386),
 (15456, 1358),
 (8682, 680),
 (1796, 764),
 (1763, 321),
 (6952, 1134),
 (5164, 415),
 (5324, 404),
 (18777, 439),
 (1991, 710),
 (9107, 334),
 (4356, 1410),
 (12128, 170),
 (7128, 313),
 (7923, 547),
 (10999, 1110),
 (6541, 1270),
 (6907, 839),
 (9185, 1156),
 (18803, 842),
 (12846, 423),
 (4950, 607),
 (10999, 63),
 (8339, 1401),
 (5257, 764),
 (12115, 618),
 (16205, 25),
 (10964, 1008),
 (9116, 275),
 (7309, 1263),
 (7128, 434),
 (14697, 1346),
 (12102, 1093),
 (2537, 1004),
 (6623, 1201),
 (6011, 179),
 (2666, 1643),
 (9823, 1039),
 (15399, 46),
 (11060, 194),
 (6643, 392),
 (12128, 1230),
 (6011, 1576),
 (4817, 1367),
 (14278, 352),
 (7406, 1317),
 (18777, 681),
 (10867, 1196),
 (7128, 326),
 (4588, 497),
 (15250, 1616),
 (7086, 1083),
 (14868, 302),
 (4054, 563),
 (9907, 336),
 (4590, 543),
 (5681, 1068),
 (8607, 640),
 (14228, 881),
 (2197, 1178),
 (8339, 596),
 (16269, 962),
 (11320, 1299),
 (9145, 171),
 (12846, 557),
 (6106, 695),
 (4590, 664),
 (4356, 497),
 (4817, 1609),
 (6541, 586),
 (3664, 1401),
 (3609, 1465),
 (12115, 981),
 (5761, 660),
 (3832, 985),
 (17373, 1133),
 (4231, 465),
 (11891, 1007),
 (6583, 997),
 (7128, 568),
 (5681, 142),
 (13033, 1322),
 (10964, 324),
 (5535, 24),
 (4590, 556),
 (10999, 318),
 (11730, 537),
 (13979, 153),
 (12542, 186),
 (17726, 655),
 (7128, 689),
 (5681, 263),
 (11730, 1705),
 (10202, 159),
 (4950, 1212),
 (8969, 187),
 (8339, 20),
 (10999, 668),
 (10999, 439),
 (12542, 307),
 (17748, 535),
 (9107, 831),
 (5681, 384),
 (12128, 438),
 (8339, 959),
 (4187, 637),
 (18796, 397),
 (10574, 1091),
 (12069, 999),
 (16095, 162),
 (18777, 1057),
 (10929, 730),
 (12944, 179),
 (14826, 496),
 (16034, 411),
 (12128, 559),
 (8619, 1134),
 (3832, 72),
 (5535, 158),
 (13833, 691),
 (10999, 681),
 (15658, 245),
 (10964, 1626),
 (8682, 143),
 (2985, 321),
 (18803, 1352),
 (13833, 812),
 (6643, 1010),
 (4590, 1040),
 (2219, 229),
 (15658, 137),
 (4152, 548),
 (8682, 493),
 (7309, 16),
 (8167, 47),
 (15808, 310),
 (18786, 1533),
 (12069, 194),
 (12115, 310),
 (18777, 252),
 (4950, 1696),
 (7309, 955),
 (8969, 442),
 (15094, 445),
 (8682, 385),
 (10134, 889),
 (11531, 932),
 (4399, 546),
 (13066, 653),
 (1991, 644),
 (4938, 302),
 (1720, 824),
 (12835, 262),
 (8339, 167),
 (15658, 608),
 (4590, 235),
 (8607, 332),
 (17726, 334),
 (5288, 536),
 (18777, 494),
 (12123, 147),
 (8339, 517),
 (18777, 1433),
 (18885, 441),
 (12123, 1086),
 (4950, 662),
 (6293, 442),
 (10202, 1006),
 (8607, 453),
 (5730, 1039),
 (18777, 615),
 (11891, 699),
 (7128, 489),
 (7128, 260),
 (17546, 524),
 (2313, 119),
 (10964, 16),
 (12846, 370),
 (10007, 1440),
 (7801, 999),
 (5079, 668),
 (4590, 477),
 (4590, 248),
 (8607, 345),
 (6988, 630),
 (10964, 955),
 (8339, 530),
 (14868, 357),
 (12846, 491),
 (10150, 1381),
 (7309, 392),
 (13699, 141),
 (4590, 369),
 (4817, 1314),
 (12542, 228),
 (5654, 239),
 (5406, 137),
 (7128, 502),
 (11531, 369),
 (12128, 359),
 (15399, 932),
 (5586, 1007),
 (3664, 59),
 (11158, 1063),
 (11531, 1308),
 (4590, 490),
 (1720, 261),
 (19232, 390),
 (10999, 252),
 (5021, 676),
 (8161, 500),
 (7801, 194),
 (16034, 332),
 (7128, 623),
 (12128, 251),
 (5474, 658),
 (4817, 388),
 (4252, 579),
 (8682, 1111),
 (13546, 1373),
 (14697, 717),
 (7677, 801),
 (12128, 1419),
 (5586, 310),
 (2914, 362),
 (4590, 611),
 (9116, 585),
 (10929, 543),
 (12128, 601),
 (6988, 175),
 (12542, 1409),
 (11117, 1533),
 (4054, 981),
 (6643, 931),
 (18811, 639),
 (18805, 565),
 (1720, 274),
 (18805, 336),
 (14670, 183),
 (18796, 1270),
 (18803, 226),
 (9107, 886),
 (4817, 859),
 (8339, 1014),
 (6886, 285),
 (10964, 392),
 (9274, 245),
 (11891, 257),
 (3811, 1115),
 (7801, 1375),
 (14697, 730),
 (12835, 62),
 (10999, 615),
 (18777, 1112),
 (7784, 388),
 (5535, 1260),
 (4591, 179),
 (18777, 65),
 (11891, 149),
 (10430, 579),
 (3268, 1482),
 (18803, 239),
 (14331, 501),
 (4231, 775),
 (7128, 1107),
 (7128, 878),
 (8339, 1256),
 (2544, 633),
 (5866, 205),
 (18777, 186),
 (14331, 1669),
 (8682, 1366),
 ...}

In [128]:
import random

rel_true = make_set_by_values(t_d_g3["gene_inco"], t_d_g3["drug_inco"])

gene = random.choice(t_d_g3["gene_inco"])
drug = random.choice(t_d_g3["drug_inco"])

while len(neg_list) > 8890 :
    gene = random.choice(t_d_g3["gene_inco"])
    drug = random.choice(t_d_g3["drug_inco"])

NameError: name 'my_list' is not defined

gene = random.choice(t_d_g3["gene_inco"])
drug = random.choice(t_d_g3["drug_inco"])

rel_true = make_set_by_values(t_d_g3["gene_inco"], t_d_g3["drug_inco"])

(gene, drug) in rel_true

In [170]:
import numpy as np

neg_gene = []
neg_drug = []
count = 0
while (True) :
    gene = np.random.choice(t_d_g3["gene_inco"])
    drug = np.random.choice(t_d_g3["drug_inco"])
    
    if (gene, drug) not in rel_true :
        neg_gene.append(gene)
        neg_drug.append(drug)
        count +=1
    if count >= 8890 :
        break

In [173]:
neg_df = pd.DataFrame({"gene_inco" : neg_gene, "drug_inco" : neg_drug})
neg_df["rel"] = 0

In [174]:
neg_df

      gene_inco  drug_inco  rel
0         13897        215    0
1          7801         34    0
2          5079        491    0
3         12944        263    0
4          3272        871    0
...         ...        ...  ...
8885       5535        162    0
8886      18781        372    0
8887      14697        894    0
8888       5535        482    0
8889       8969        606    0

[8890 rows x 3 columns]

In [176]:
df_both = pd.concat([df, neg_df]).reset_index().drop(['index'], axis = 1)

In [180]:
import pandas as pd
import numpy as np

# Load the dataset as a pandas DataFrame

# Shuffle the DataFrame rows
df_both = df_both.sample(frac=1, random_state=42).reset_index(drop=True)

# Split the dataset into training, testing, and validation sets
train_size = 0.7
test_size = 0.2
val_size = 0.1

train_split_index = int(len(df_both) * train_size)
test_split_index = int(len(df_both) * (train_size + test_size))

train_data = df_both.iloc[:train_split_index]
test_data = df_both.iloc[train_split_index:test_split_index]
val_data = df_both.iloc[test_split_index:]

# Print the shapes of the resulting datasets
print('Training data shape:', train_data.shape)
print('Testing data shape:', test_data.shape)
print('Validation data shape:', val_data.shape)

train_data.to_csv('train.txt', index=False, sep=' ', header = False)
test_data.to_csv('test.txt', index=False, sep=' ', header = False)
val_data.to_csv('dev.txt', index=False, sep=' ', header = False)

Training data shape: (12446, 3)
Testing data shape: (3555, 3)
Validation data shape: (1779, 3)