In [4]:
import numpy as np
import pandas as pd
import sys
original_path = sys.path.copy()
sys.path.insert(0, '../../nodefeaturing')
from generating_feature import generating_pro_feature, generating_drug_feature, concat_feature
sys.path = original_path

/home/max38744/.conda/envs/moon/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [45]:
file_path = "dti2vec_drugbankid2smiles"  # Specify the file path without the extension

# Read the file as a CSV with custom parameters

df = pd.read_csv(file_path, header=None, delimiter="\t")  # Assuming the file has no header row
print(len(df))
print(df.iloc[[0,1,300,600, 1000]])
df.columns = ["Drug_ID", "Drug"]

9881
            0                                                  1
0     DB00672                 CCCNC(=O)NS(=O)(=O)C1=CC=C(C=C1)Cl
1     DB00116  C1C(NC2=C(N1)N=C(NC2=O)N)CNC3=CC=C(C=C3)C(=O)N...
300   DB00419          CCCCN1C[C@@H]([C@H]([C@@H]([C@H]1CO)O)O)O
600   DB00714       CN1CCC2=C3[C@H]1CC4=C(C3=CC=C2)C(=C(C=C4)O)O
1000  DB00497  CN1CC[C@]23[C@@H]4C(=O)CC[C@]2([C@H]1CC5=C3C(=...

In [93]:
import pickle
import json
temp = []

    

# JSON 파일 경로 설정
json_file = 'node2id.json'

# JSON 파일 읽기
with open(json_file) as f:
    data = json.load(f)
    
for idx, item in enumerate(tmp["Drug_ID"].copy()) :

    for jdx, d_name in enumerate(data.keys()) :
        if d_name == item :
            temp.append(data[d_name])
            break
        elif jdx +1 == len(data)  :
            temp.append(np.NaN)

In [97]:
# Select unique rows based on the 'Drug' column
unique_drugs_df = df.drop_duplicates(subset=['Drug']).dropna()

unique_drugs_df = generating_drug_feature(unique_drugs_df)
# Print the resulting DataFrame
# print(len(unique_drugs_df))
# print(unique_drugs_df)
tmp = unique_drugs_df[['Drug_ID', 'Drug','Morgan_Features']]
# print(tmp.head())

drug_id_array = tmp['Drug_ID'].values
drug_array = tmp['Drug'].values
drug_feat = tmp['Morgan_Features']
drug_enco = temp

drug_feat = {'Drug_ID': drug_id_array, 'Drug': drug_array, 'Morgan_Features': drug_feat, "Drug_enco" : drug_enco}



import pickle


with open("VEC_drug_feats.pkl", 'wb') as f:
    pickle.dump(drug_feat, f)

print(f"Dictionary saved as pickle file")

Dictionary saved as pickle file

In [100]:

with open('VEC_drug_feats.pkl', 'rb') as f:
    x = pickle.load(f, encoding='utf-8')
x

{'Drug_ID': array(['DB00672', 'DB00116', 'DB06663', ..., 'DB00610', 'DB08903',
        'DB00474'], dtype=object),
 'Drug': array(['CCCNC(=O)NS(=O)(=O)C1=CC=C(C=C1)Cl',
        'C1C(NC2=C(N1)N=C(NC2=O)N)CNC3=CC=C(C=C3)C(=O)N[C@@H](CCC(=O)O)C(=O)O',
        'C1[C@H](CN2[C@@H]1C(=O)N[C@H](C(=O)N[C@@H](C(=O)N[C@H](C(=O)N[C@H](C(=O)N[C@H](C2=O)CC3=CC=CC=C3)CC4=CC=C(C=C4)OCC5=CC=CC=C5)CCCCN)CC6=CNC7=CC=CC=C76)C8=CC=CC=C8)OC(=O)NCCN',
        ..., 'C[C@@H]([C@@H](C1=CC(=CC=C1)O)O)N',
        'CN(C)CC[C@@](C1=CC=CC2=CC=CC=C21)([C@H](C3=CC=CC=C3)C4=C(N=C5C=CC(=CC5=C4)Br)OC)O',
        'CCC#CC(C)C1(C(=O)NC(=O)N(C1=O)C)CC=C'], dtype=object),
 'Morgan_Features': 0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 1       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 2       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, ...
 4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 6       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                               ...
 9640    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 9751    [0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, ...
 9760    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 9787    [0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 9801    [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
 Name: Morgan_Features, Length: 1478, dtype: object,
 'Drug_enco': [569,
  nan,
  1030,
  668,
  804,
  231,
  600,
  228,
  373,
  164,
  985,
  nan,
  407,
  1480,
  234,
  175,
  166,
  1080,
  nan,
  580,
  374,
  677,
  987,
  712,
  1633,
  501,
  280,
  1049,
  281,
  482,
  272,
  1316,
  509,
  1634,
  537,
  967,
  1078,
  nan,
  270,
  558,
  443,
  347,
  779,
  165,
  468,
  680,
  823,
  258,
  1261,
  450,
  816,
  1202,
  1112,
  460,
  641,
  532,
  955,
  586,
  587,
  1427,
  813,
  1154,
  581,
  nan,
  1568,
  nan,
  198,
  251,
  nan,
  621,
  645,
  1019,
  1578,
  590,
  608,
  629,
  31,
  477,
  992,
  319,
  326,
  103,
  1275,
  332,
  181,
  143,
  567,
  976,
  221,
  294,
  669,
  nan,
  695,
  530,
  135,
  156,
  196,
  709,
  1260,
  1201,
  1196,
  189,
  202,
  208,
  664,
  1118,
  438,
  414,
  929,
  nan,
  869,
  937,
  320,
  266,
  496,
  467,
  444,
  458,
  483,
  857,
  1020,
  47,
  515,
  302,
  200,
  1306,
  1058,
  977,
  536,
  394,
  1620,
  740,
  952,
  nan,
  255,
  884,
  473,
  619,
  1299,
  512,
  1709,
  516,
  nan,
  1088,
  193,
  125,
  684,
  861,
  1421,
  nan,
  556,
  161,
  371,
  235,
  932,
  598,
  1304,
  60,
  750,
  437,
  1084,
  1168,
  59,
  634,
  1361,
  1295,
  681,
  32,
  704,
  914,
  80,
  188,
  620,
  474,
  1504,
  448,
  961,
  354,
  307,
  593,
  486,
  44,
  1006,
  262,
  648,
  653,
  76,
  142,
  343,
  179,
  585,
  666,
  1176,
  472,
  1254,
  170,
  1212,
  316,
  369,
  404,
  622,
  194,
  157,
  1270,
  92,
  225,
  748,
  1156,
  1481,
  377,
  676,
  521,
  nan,
  1138,
  nan,
  308,
  1437,
  912,
  1310,
  1220,
  523,
  370,
  882,
  488,
  315,
  229,
  53,
  544,
  nan,
  119,
  260,
  1251,
  887,
  158,
  628,
  1117,
  1069,
  871,
  894,
  1533,
  724,
  527,
  1033,
  1277,
  1369,
  659,
  616,
  1426,
  820,
  259,
  39,
  1278,
  1428,
  714,
  1524,
  1218,
  18,
  731,
  886,
  675,
  63,
  1133,
  230,
  275,
  12,
  1086,
  691,
  312,
  264,
  726,
  982,
  968,
  405,
  nan,
  1012,
  916,
  1091,
  1208,
  1256,
  1348,
  226,
  565,
  350,
  577,
  981,
  267,
  881,
  415,
  1131,
  248,
  959,
  317,
  499,
  1157,
  359,
  487,
  1585,
  678,
  273,
  360,
  1199,
  299,
  1219,
  334,
  392,
  1169,
  431,
  661,
  253,
  757,
  358,
  203,
  944,
  357,
  292,
  503,
  352,
  1566,
  570,
  257,
  201,
  nan,
  533,
  298,
  926,
  nan,
  764,
  1537,
  297,
  1435,
  540,
  1335,
  1098,
  147,
  nan,
  1170,
  550,
  440,
  282,
  172,
  283,
  1134,
  26,
  nan,
  171,
  1081,
  979,
  207,
  nan,
  574,
  1470,
  336,
  839,
  290,
  nan,
  504,
  836,
  1455,
  989,
  805,
  1367,
  1197,
  497,
  526,
  606,
  364,
  413,
  162,
  288,
  1697,
  428,
  244,
  233,
  127,
  22,
  883,
  694,
  471,
  177,
  543,
  983,
  nan,
  35,
  674,
  834,
  1036,
  435,
  199,
  736,
  1475,
  755,
  738,
  1407,
  618,
  555,
  721,
  388,
  739,
  287,
  673,
  588,
  252,
  642,
  1120,
  1416,
  1590,
  1007,
  276,
  1328,
  180,
  159,
  51,
  79,
  1401,
  nan,
  1293,
  1627,
  106,
  nan,
  1419,
  416,
  1115,
  1243,
  1695,
  925,
  713,
  610,
  nan,
  nan,
  785,
  851,
  1111,
  1040,
  1126,
  1358,
  67,
  1282,
  928,
  1226,
  nan,
  1085,
  1207,
  660,
  69,
  1074,
  637,
  457,
  576,
  500,
  219,
  939,
  396,
  70,
  408,
  566,
  1354,
  329,
  1392,
  153,
  190,
  247,
  239,
  859,
  139,
  98,
  1271,
  559,
  nan,
  232,
  330,
  417,
  1366,
  454,
  261,
  1172,
  730,
  1123,
  1001,
  1094,
  644,
  120,
  nan,
  nan,
  1323,
  1430,
  639,
  1317,
  1107,
  439,
  706,
  592,
  1011,
  1648,
  20,
  187,
  446,
  495,
  385,
  274,
  650,
  nan,
  1287,
  1456,
  812,
  1070,
  1318,
  335,
  998,
  209,
  452,
  786,
  277,
  400,
  954,
  1023,
  1536,
  409,
  1184,
  999,
  700,
  nan,
  1395,
  346,
  46,
  nan,
  384,
  124,
  245,
  831,
  1389,
  1341,
  491,
  885,
  nan,
  nan,
  1060,
  131,
  1124,
  1305,
  455,
  16,
  601,
  1145,
  1359,
  1093,
  426,
  1379,
  447,
  353,
  640,
  38,
  866,
  55,
  901,
  28,
  484,
  878,
  1388,
  379,
  1614,
  1400,
  362,
  72,
  617,
  571,
  1408,
  1026,
  510,
  442,
  nan,
  611,
  931,
  563,
  1301,
  397,
  1185,
  41,
  822,
  578,
  42,
  195,
  670,
  478,
  197,
  nan,
  1279,
  1671,
  163,
  663,
  1281,
  1343,
  1373,
  321,
  430,
  144,
  1099,
  1213,
  137,
  1032,
  1018,
  1376,
  nan,
  1171,
  83,
  1386,
  1229,
  1378,
  824,
  nan,
  864,
  529,
  1233,
  1531,
  1532,
  1037,
  268,
  561,
  524,
  507,
  237,
  531,
  453,
  1186,
  705,
  309,
  1549,
  671,
  269,
  940,
  828,
  465,
  97,
  nan,
  1474,
  1095,
  nan,
  214,
  562,
  632,
  658,
  656,
  1189,
  412,
  nan,
  795,
  327,
  1615,
  nan,
  nan,
  840,
  652,
  1268,
  514,
  459,
  1097,
  nan,
  1200,
  224,
  182,
  278,
  nan,
  1493,
  907,
  548,
  nan,
  1402,
  1068,
  1272,
  84,
  434,
  729,
  818,
  1090,
  597,
  57,
  635,
  568,
  1136,
  nan,
  322,
  1410,
  nan,
  1551,
  82,
  972,
  nan,
  nan,
  1629,
  609,
  633,
  490,
  845,
  698,
  842,
  522,
  141,
  542,
  718,
  1355,
  686,
  614,
  324,
  811,
  1332,
  1263,
  420,
  799,
  1127,
  1003,
  1010,
  575,
  1646,
  376,
  43,
  250,
  nan,
  236,
  nan,
  341,
  1104,
  206,
  289,
  1441,
  451,
  391,
  1288,
  505,
  4,
  549,
  nan,
  525,
  1028,
  111,
  295,
  nan,
  1225,
  424,
  1653,
  243,
  1526,
  1284,
  1424,
  1072,
  238,
  1031,
  nan,
  1223,
  210,
  303,
  1017,
  655,
  nan,
  715,
  1631,
  64,
  1191,
  1244,
  1231,
  1130,
  30,
  494,
  121,
  703,
  429,
  1022,
  1173,
  466,
  1346,
  492,
  1494,
  599,
  1422,
  nan,
  29,
  21,
  951,
  1240,
  604,
  14,
  508,
  nan,
  973,
  314,
  909,
  1298,
  1655,
  897,
  375,
  1057,
  1079,
  1433,
  1055,
  nan,
  1162,
  1296,
  541,
  65,
  651,
  1014,
  1308,
  589,
  410,
  613,
  892,
  1210,
  383,
  432,
  631,
  602,
  77,
  1636,
  774,
  767,
  835,
  711,
  689,
  1309,
  nan,
  749,
  263,
  546,
  1110,
  nan,
  934,
  nan,
  36,
  122,
  806,
  1067,
  7,
  1248,
  1357,
  481,
  743,
  1350,
  1639,
  964,
  304,
  nan,
  1224,
  787,
  1406,
  390,
  688,
  1062,
  560,
  808,
  1077,
  nan,
  1675,
  539,
  nan,
  nan,
  nan,
  1265,
  105,
  nan,
  401,
  56,
  970,
  310,
  564,
  1345,
  647,
  1663,
  387,
  1038,
  441,
  1352,
  654,
  68,
  109,
  1338,
  1466,
  183,
  1016,
  318,
  1238,
  34,
  1507,
  93,
  1241,
  nan,
  403,
  138,
  74,
  518,
  nan,
  1203,
  880,
  1477,
  1076,
  535,
  991,
  803,
  249,
  1071,
  636,
  1616,
  1431,
  1439,
  978,
  554,
  506,
  657,
  223,
  27,
  1242,
  296,
  1021,
  445,
  nan,
  nan,
  1651,
  284,
  920,
  nan,
  150,
  1051,
  345,
  801,
  nan,
  528,
  513,
  1362,
  152,
  623,
  1542,
  nan,
  nan,
  693,
  285,
  205,
  915,
  1015,
  708,
  572,
  340,
  1215,
  867,
  nan,
  485,
  nan,
  662,
  1425,
  23,
  114,
  186,
  980,
  227,
  1465,
  nan,
  216,
  265,
  62,
  1228,
  1046,
  386,
  1365,
  242,
  717,
  365,
  933,
  603,
  1054,
  1705,
  311,
  679,
  1181,
  50,
  974,
  596,
  643,
  nan,
  752,
  699,
  254,
  630,
  463,
  363,
  1574,
  1383,
  1486,
  nan,
  1418,
  889,
  1283,
  1517,
  1190,
  464,
  502,
  1525,
  1065,
  10,
  81,
  1562,
  395,
  1681,
  nan,
  832,
  ...]}

In [101]:
with open('entity_drug.json', 'r') as f:
    data = json.load(f)

df = pd.json_normalize(data)

df = df.T
df

                  0
Gene::801      1710
Gene::7428     1711
Gene::5987     1712
Gene::9412     1713
Gene::5747     1714
...             ...
Gene::255349  34119
Gene::387104  34120
Gene::347541  34121
Gene::4114    34122
Gene::80099   34123

[32414 rows x 1 columns]

In [106]:
df = pd.read_csv("origin_proteins.csv").drop("Unnamed: 0", axis = 1)
df.columns = ["Target_ID", "Target"]

In [108]:
df = pd.read_csv("origin_proteins.csv").drop("Unnamed: 0", axis = 1)
df.columns = ["Target_ID", "Target"]
# Select unique rows based on the 'Drug' column
unique_targets_df = df.drop_duplicates(subset=['Target'])
print(len(unique_targets_df))

pro_df = generating_pro_feature(unique_targets_df)
# Print the resulting DataFrame
# print(len(pro_df))
# print(pro_df)
tmp = pro_df[['Target_ID', 'Target','ProtBERT_Features']]
print(tmp.head())

target_id_array = tmp['Target_ID'].values
target_array = tmp['Target'].values
target_feat = tmp['ProtBERT_Features']

target_feat = {'Target_ID': target_id_array, 'Target': target_array, 'ProtBERT_Features': target_feat}

print(len(target_feat['ProtBERT_Features']))
print(type(target_feat['ProtBERT_Features']))
print(target_feat)

import pickle


with open("VEC_target_feats_tmp.pkl", 'wb') as f:
    pickle.dump(target_feat, f)

print(f"Dictionary saved as pickle file")

1407

Some weights of the model checkpoint at Rostlab/prot_bert_bfd were not used when initializing BertModel: ['cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.decoder.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Asking to truncate to max_length but no maximum length is provided and the model has no predefined maximum length. Default to no truncation.

  Target_ID                                             Target  \
0    A5X5Y0  MLAFILSRATPRPALGPLSYREHRVALLHLTHSMSTTGRGVTFTIN...
1    Q03013  MSMTLGYWDIRGLAHAIRLLLEYTDSSYEEKKYTMGDAPDYDRSQW...
2    Q04844  MARAPLGVLLLLGLLGRGVGKNEELRLYHHLFNNYDPGSRPVREPE...
3    Q04828  MDSKYQCVKLNDGHFMPVLGFGTYAPAEVPKSKALEATKLAIEAGF...
4    Q04771  MVDGVMILPVLIMIALPSPSMEDEKPKVNPKLYMCVCEGLSCGNED...

                                   ProtBERT_Features
0  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1  [0.030560227, 0.02434674, 0.13633652, 0.032938...
2  [0.030560227, 0.02434674, 0.13633652, 0.032938...
3  [0.030560227, 0.02434674, 0.13633652, 0.032938...
4  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1407
<class 'pandas.core.series.Series'>
{'Target_ID': array(['A5X5Y0', 'Q03013', 'Q04844', ..., 'P18031', 'P17948', 'Q9Y6R1'],
      dtype=object), 'Target': array(['MLAFILSRATPRPALGPLSYREHRVALLHLTHSMSTTGRGVTFTINCSGFGQHGADPTALNSVFNRKPFRPVTNISVPTQVNISFAMSAILDVNEQLHLLSSFLWLEMVWDNPFISWNPEECEGITKMSMAAKNLWLPDIFIIELMDVDKTPKGLTAYVSNEGRIRYKKPMKVDSICNLDIFYFPFDQQNCTLTFSSFLYTVDSMLLDMEKEVWEITDASRNILQTHGEWELLGLSKATAKLSRGGNLYDQIVFYVAIRRRPSLYVINLLVPSGFLVAIDALSFYLPVKSGNRVPFKITLLLGYNVFLLMMSDLLPTSGTPLIGVYFALCLSLMVGSLLETIFITHLLHVATTQPPPLPRWLHSLLLHCNSPGRCCPTAPQKENKGPGLTPTHLPGVKEPEVSAGQMPGPAEAELTGGSEWTRAQREHEAQKQHSVELWLQFSHAMDAMLFRLYLLFMASSIITVICLWNT',
       'MSMTLGYWDIRGLAHAIRLLLEYTDSSYEEKKYTMGDAPDYDRSQWLNEKFKLGLDFPNLPYLIDGAHKITQSNAILCYIARKHNLCGETEEEKIRVDILENQAMDVSNQLARVCYSPDFEKLKPEYLEELPTMMQHFSQFLGKRPWFVGDKITFVDFLAYDVLDLHRIFEPNCLDAFPNLKDFISRFEVSCGIM',
       'MARAPLGVLLLLGLLGRGVGKNEELRLYHHLFNNYDPGSRPVREPEDTVTISLKVTLTNLISLNEKEETLTTSVWIGIDWQDYRLNYSKDDFGGIETLRVPSELVWLPEIVLENNIDGQFGVAYDANVLVYEGGSVTWLPPAIYRSVCAVEVTYFPFDWQNCSLIFRSQTYNAEEVEFTFAVDNDGKTINKIDIDTEAYTENGEWAIDFCPGVIRRHHGGATDGPGETDVIYSLIIRRKPLFYVINIIVPCVLISGLVLLAYFLPAQAGGQKCTVSINVLLAQTVFLFLIAQKIPETSLSVPLLGRFLIFVMVVATLIVMNCVIVLNVSQRTPTTHAMSPRLRHVLLELLPRLLGSPPPPEAPRAASPPRRASSVGLLLRAEELILKKPRSELVFEGQRHRQGTWTAAFCQSLGAAAPEVRCCVDAVNFVAESTRDQEATGEEVSDWVRMGNALDNICFWAALVLFSVGSSLIFLGAYFNRVPDLPYAPCIQP',
       ...,
       'MEMEKEFEQIDKSGSWAAIYQDIRHEASDFPCRVAKLPKNKNRNRYRDVSPFDHSRIKLHQEDNDYINASLIKMEEAQRSYILTQGPLPNTCGHFWEMVWEQKSRGVVMLNRVMEKGSLKCAQYWPQKEEKEMIFEDTNLKLTLISEDIKSYYTVRQLELENLTTQETREILHFHYTTWPDFGVPESPASFLNFLFKVRESGSLSPEHGPVVVHCSAGIGRSGTFCLADTCLLLMDKRKDPSSVDIKKVLLEMRKFRMGLIQTADQLRFSYLAVIEGAKFIMGDSSVQDQWKELSHEDLEPPPEHIPPPPRPPKRILEPHNGKCREFFPNHQWVKEETQEDKDCPIKEEKGSPLNAAPYGIESMSQDTEVRSRVVGGSLRGAQAASPAKGEPSLPEKDEDHALSYWKPFLVNMCVATVLTAGAYLCYRFLFNSNT',
       'MVSYWDTGVLLCALLSCLLLTGSSSGSKLKDPELSLKGTQHIMQAGQTLHLQCRGEAAHKWSLPEMVSKESERLSITKSACGRNGKQFCSTLTLNTAQANHTGFYSCKYLAVPTSKKKETESAIYIFISDTGRPFVEMYSEIPEIIHMTEGRELVIPCRVTSPNITVTLKKFPLDTLIPDGKRIIWDSRKGFIISNATYKEIGLLTCEATVNGHLYKTNYLTHRQTNTIIDVQISTPRPVKLLRGHTLVLNCTATTPLNTRVQMTWSYPDEKNKRASVRRRIDQSNSHANIFYSVLTIDKMQNKDKGLYTCRVRSGPSFKSVNTSVHIYDKAFITVKHRKQQVLETVAGKRSYRLSMKVKAFPSPEVVWLKDGLPATEKSARYLTRGYSLIIKDVTEEDAGNYTILLSIKQSNVFKNLTATLIVNVKPQIYEKAVSSFPDPALYPLGSRQILTCTAYGIPQPTIKWFWHPCNHNHSEARCDFCSNNEESFILDADSNMGNRIESITQRMAIIEGKNKMASTLVVADSRISGIYICIASNKVGTVGRNISFYITDVPNGFHVNLEKMPTEGEDLKLSCTVNKFLYRDVTWILLRTVNNRTMHYSISKQKMAITKEHSITLNLTIMNVSLQDSGTYACRARNVYTGEEILQKKEITIRGEHCNKKAVFSRISKFKSTRNDCTTQSNVKH',
       'MSTENVEGKPSNLGERGRARSSTFLRVVQPMFNHSIFTSAVSPAAERIRFILGEEDDSPAPPQLFTELDELLAVDGQEMEWKETARWIKFEEKVEQGGERWSKPHVATLSLHSLFELRTCMEKGSIMLDREASSLPQLVEMIVDHQIETGLLKPELKDKVTYTLLRKHRHQTKKSNLRSLADIGKTVSSASRMFTNPDNGSPAMTHRNLTSSSLNDISDKPEKDQLKNKFMKKLPRDAEASNVLVGEVDFLDTPFIAFVRLQQAVMLGALTEVPVPTRFLFILLGPKGKAKSYHEIGRAIATLMSDEVFHDIAYKAKDRHDLIAGIDEFLDEVIVLPPGEWDPAIRIEPPKSLPSSDKRKNMYSGGENVQMNGDTPHDGGHGGGGHGDCEELQRTGRFCGGLIKDIKRKAPFFASDFYDALNIQALSAILFIYLATVTNAITFGGLLGDATDNMQGVLESFLGTAVSGAIFCLFAGQPLTILSSTGPVLVFERLLFNFSKDNNFDYLEFRLWIGLWSAFLCLILVATDASFLVQYFTRFTEEGFSSLISFIFIYDAFKKMIKLADYYPINSNFKVGYNTLFSCTCVPPDPGEGITLCVYARFVFGGRCRLHACKFSTCCHGPQELVLFFSLKNSATEFDVSLPEVF'],
      dtype=object), 'ProtBERT_Features': 0       [0.030560227, 0.02434674, 0.13633652, 0.032938...
1       [0.030560227, 0.02434674, 0.13633652, 0.032938...
2       [0.030560227, 0.02434674, 0.13633652, 0.032938...
3       [0.030560227, 0.02434674, 0.13633652, 0.032938...
4       [0.030560227, 0.02434674, 0.13633652, 0.032938...
                              ...
1402    [0.030560227, 0.02434674, 0.13633652, 0.032938...
1403    [0.030560227, 0.02434674, 0.13633652, 0.032938...
1404    [0.030560227, 0.02434674, 0.13633652, 0.032938...
1405    [0.030560227, 0.02434674, 0.13633652, 0.032938...
1406    [0.030560227, 0.02434674, 0.13633652, 0.032938...
Name: ProtBERT_Features, Length: 1407, dtype: object}
Dictionary saved as pickle file

In [109]:
with open('entity_drug.json', 'r') as f:
    data = json.load(f)

df = pd.json_normalize(data)

df = df.T
df

                  0
Gene::801      1710
Gene::7428     1711
Gene::5987     1712
Gene::9412     1713
Gene::5747     1714
...             ...
Gene::255349  34119
Gene::387104  34120
Gene::347541  34121
Gene::4114    34122
Gene::80099   34123

[32414 rows x 1 columns]

In [117]:
a

      UniProtKB Gene Name ID Gene name NCBI gene (formerly Entrezgene) ID
0                 A0A023T6R1    MAGOHB                        Gene::55110
1                 A0A023T787     RBM8A                         Gene::9939
2                 A0A024QY88      NRG1                         Gene::3084
3                 A0A024QYR8    TM9SF2                         Gene::9375
4                 A0A024QYT5  SERPINE1                         Gene::5054
...                      ...       ...                                ...
73808                 X6RLV5      DDX5                         Gene::1655
73809                 X6RLX0      ERC1                        Gene::23085
73810                 X6RLY7  CACNA2D4                        Gene::93589
73811                 X6RM00      ERC1                        Gene::23085
73812                 X6RM59    NT5C3A                        Gene::51251

[73813 rows x 3 columns]

In [123]:
import pandas as pd
a = pd.read_csv("convert_table", delimiter= "\t")

new = []
new_emb = []
for x_idx, pro in enumerate(target_feat['Target_ID']) :
    for a_idx, name in enumerate(a["UniProtKB Gene Name ID"]) : 
        if pro == name :
            new.append(a['NCBI gene (formerly Entrezgene) ID'].iloc[a_idx])
            new_emb.append(target_feat["ProtBERT_Features"][x_idx])
            break

In [124]:
new_x = {}
new_x["Target_ID"] = new
new_x["ProtBERT_Features"]= new_emb
new_x = pd.DataFrame(new_x)
print(new_x)

         Target_ID                                  ProtBERT_Features
0     Gene::285242  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1       Gene::2948  [0.030560227, 0.02434674, 0.13633652, 0.032938...
2       Gene::1145  [0.030560227, 0.02434674, 0.13633652, 0.032938...
3       Gene::1645  [0.030560227, 0.02434674, 0.13633652, 0.032938...
4         Gene::90  [0.030560227, 0.02434674, 0.13633652, 0.032938...
...            ...                                                ...
1380    Gene::6715  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1381     Gene::151  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1382    Gene::5770  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1383    Gene::2321  [0.030560227, 0.02434674, 0.13633652, 0.032938...
1384    Gene::8671  [0.030560227, 0.02434674, 0.13633652, 0.032938...

[1385 rows x 2 columns]

In [126]:
import json

with open('entity_drug.json', 'r') as f:
    data = json.load(f)
enco = []
for i in new :
    if i in data.keys() :
        enco.append(data[i])
    else : 
        enco.append(np.NaN)
print(enco)
result["Gene_enco"] = enco
result = result.sort_values(by = "Gene_enco").reset_index(drop=True)
result["mapping_arr"] = range(0,len(result))

[21172, 5985, 16479, 15880, 3726, 10246, 10134, 8078, 7017, 5712, 12274, 2093, 8031, 7350, 4559, 2987, 13915, 8426, 13979, 2305, 18835, 8254, 15695, 15106, 7619, 6471, 13830, 3344, 7220, 9205, 15274, 6545, 15779, 5894, 13102, 5052, 11962, 6364, 13198, 3956, 11158, 14254, 15936, 14006, 3849, 3697, 3407, 15456, 18790, 6899, 3941, 2759, 1763, 4538, 4777, 6942, 2532, 3200, 2731, 6587, 8406, 10569, 2671, 2760, 16488, 10451, 4163, 7139, 14132, 8012, 15393, 10746, 12902, 6192, 2182, 13734, 7690, 2570, 8516, 2298, 3078, 2029, 9233, 15363, 2469, 8437, 4009, 3326, 3429, 2814, 17651, 7861, 16273, 12160, 3555, 18923, 15549, nan, 4946, 11143, 7105, 7406, 13261, 9597, 7895, 13165, 3117, 4034, 2033, 13199, 12806, 11510, 17826, 15211, 9856, 3255, 13086, 5568, 12122, 6381, 3965, 11060, 15094, 16398, 4116, 16677, 9426, 18856, 16205, 4356, 16524, 7344, 16724, 13492, 6632, 4231, 18812, 2454, 4994, 10238, 7454, 9936, 2758, 3163, 5406, 10991, 9823, 14848, 9158, 4904, 2983, 3253, 19632, 3772, 4859, 8844, 4043, 11997, 18905, 12312, 17738, 5687, 2107, 4129, 10574, 2544, 10950, 2954, 2334, 8460, 3683, 4729, 8924, 10316, 12640, 9963, 1878, 3553, 9699, 4140, 14936, 9145, 18792, 13329, 15808, 14034, 5790, 9040, 8150, 11687, 4957, 14594, 10867, 13833, 15517, 3931, 2124, 6444, 13019, 11977, 17764, 4634, 4373, 3610, 8733, 9534, 17352, 14217, 17139, 1897, 12193, 9116, 12069, 5993, 12916, 6200, 13909, 6907, 8128, 4782, 5587, 12075, 11170, 3955, 4608, 6888, 6803, 10318, 11476, 3518, 13780, 2168, 9786, 3469, 6012, 10623, 10204, 5802, 3193, 5324, 14176, 10460, 2073, 9097, 3408, 5866, 2537, 7869, 6796, 16058, 6201, 3703, 6558, 10607, 7923, 4563, 4252, 15668, 9104, 8109, 4393, 10293, 8511, 11354, 17187, 6783, 12018, 13700, 4832, 11151, 18851, 6610, 1913, 18895, 14324, 9817, 5257, 2438, 15157, 15932, 15738, 3088, 18855, 14610, 13122, 3857, 8916, 2145, 10171, 7992, 5331, 10355, 5730, 18806, 14409, 6788, 8656, 6560, 14694, 13290, 9131, 10111, 17546, 16529, 13496, 6688, 18869, 16228, 7537, 7300, 7593, 13845, 6925, 8333, 7365, 12082, 6041, 8864, 18919, 8169, 17445, 14498, 10235, 8212, 10877, 3245, 18915, 12753, 12921, 8616, 8525, 17092, 10701, 10693, 6227, 15743, 11007, 6736, 1837, 11990, 15412, 13589, 9171, 7770, 8590, 7108, 2303, 14733, 14384, 11886, 10236, 16363, 15218, 16817, 18776, 8917, 14441, 15132, 12310, 9472, 9107, 12939, 18780, 13291, 10729, 18907, 11157, 14890, 18808, 17190, 12217, 14423, 14280, 12158, 15991, 18814, 14179, 5001, 7634, 14741, 11298, 4148, 15947, 11441, 7052, 10353, 9324, 10653, 15827, 13574, 7898, 18793, 8342, 17728, 9782, 12030, 18831, 13442, 4840, 9602, 9122, 18927, 10532, 8843, 14312, 5021, 17751, 12037, 13823, 7677, 5848, 15762, 2460, 11776, 18823, 5373, 2941, 17573, 18843, 15475, 12346, 8041, 18788, 6295, 18888, 17142, 14708, 18913, 18886, 16685, 7673, 18829, 12837, 18841, 8829, 18902, 7369, 7035, 5548, 2380, 18881, 13973, 12449, 18838, 12877, 6254, 13480, 15506, 16735, 18897, 10759, 3684, 1718, 8966, 9457, 12305, 14868, 4379, 5669, 18803, 16019, 11102, 8361, 10573, 18786, 16043, 14033, 1802, 4262, 16269, 14749, 9428, 14613, 14686, 6725, 7273, 16097, 18842, 7913, 7837, 12774, 11320, 8369, 18867, 12201, 15873, 8842, 2778, 17183, 10030, 8788, 4641, 7550, 4633, 9962, 4214, 10342, 14504, 11532, 18797, 18820, 10203, 13594, 3002, 8645, 10871, 5253, 17240, 16224, 5999, 14756, 10540, 12294, 12685, 12705, 16750, 8558, 6481, 18847, 11117, 18864, 13832, 9864, 11106, 14656, 14957, 18818, 15697, 15411, 16808, 15837, 16360, 12052, 18926, 18920, 18922, 18815, 10904, 21260, 18798, 16026, 9504, 15870, 16418, 15247, 15950, 3832, 18899, 16382, 18779, 12502, 9115, 16285, 4446, 9326, 14649, 12522, 8608, 17601, 18794, 17474, 8013, 16042, 17057, 19124, 17198, 18871, 8602, 8945, 5177, 10668, 7408, 17847, 4817, 18889, 14138, 11498, 8762, 3431, 16051, 10125, 14826, 6974, 14685, 3606, 14940, 18860, 12011, 17085, 22598, 18921, 18868, 6939, 10200, 15014, 10940, 14718, 3310, 18772, 9556, 17412, 17327, 5560, 9364, 18876, 8273, 3254, 14097, 8737, 15642, 15413, 17122, 17147, 14903, 18821, 13739, 18854, 18802, 3556, 14302, 12934, 4506, 10058, 14082, 17600, 13166, 6303, 7929, 7280, 6742, 5601, 2311, 11221, 14282, 14874, 5248, 12890, 18909, 11571, 10364, 15423, 2666, 11900, 8266, 6992, 14643, 6072, 13241, 14838, 4022, 13726, 18873, 18896, 10341, 15683, 8083, 4588, 4246, 8375, 6242, 2074, 18861, 19159, 18877, 13440, 6916, 6366, 16134, 3136, 18884, 3235, 9110, 11481, 4128, 12944, 9183, 14228, 15266, 18789, 7771, 12600, 8528, 18836, 12349, 13225, 16468, 10571, 2321, 14967, 18785, 10767, 3256, 12196, 14085, 15621, 12024, 18866, 18781, 6081, 14322, 12144, 4915, 9979, 4026, 10417, 1808, 11160, 8382, 12542, 8130, 2766, 2640, 4187, 5588, 7215, 2309, 2069, 12925, 2197, 10430, 8039, 7188, 5204, 4399, nan, 4950, 2351, 2439, 2942, 13613, 16227, 6531, 1716, 2368, 5201, 12059, 13066, 12128, 5464, 7114, 9369, 6952, 4921, 5731, 9496, 4628, 11786, 6310, 12662, 7851, 5011, 13508, 10484, 7739, 6793, 11859, 7378, 13276, 6782, 2299, 8619, 13429, 2425, 6171, 2841, 6626, 4047, 7027, 3776, 8277, 7076, 3409, 1720, 14996, 9546, 5529, 6161, 4875, 7631, 5681, 3182, 6988, 15136, 6936, 4949, 3614, 9770, 13951, 11565, 8063, 3107, 15468, 4366, 6358, 4434, 6548, 7121, 13609, 14928, 13982, 9281, 5936, 2914, 15399, 2398, 5079, 3432, 5851, 6404, 11770, 3811, 15346, 3132, 18777, 12846, 5927, 6799, 5172, 7738, 3904, 3134, 11600, 10549, 12353, 19232, 10202, 7213, 11350, 1991, 11853, 3327, 4220, 2293, 1875, 3744, 12834, 6868, 13169, 5535, 12664, 17758, 2985, 6507, 13560, 6775, 5249, 12653, 3211, 13897, 9748, 8236, 11040, 18852, 4590, 1971, 9101, 5372, 5920, 3676, 5474, 7555, 12690, 7697, 7208, 11093, 6106, 18799, 8339, 7168, 2158, 5761, 18826, 13256, 12029, 12901, 18783, 10747, 17163, 11951, 1914, 12417, 18804, 5688, 5178, 11730, 12123, 9928, 18809, 8635, 11743, 14524, 2672, 14418, 17726, 6018, 18894, 11881, 7787, 13028, 11361, 17373, 5532, 7410, 14712, 14575, 6267, 5319, 8451, 14986, 15384, 7850, 10707, 10292, 10268, 5524, 15867, 1803, 10692, 17700, 18805, 4361, 7182, 8161, 3633, 15303, 18874, 9591, 8318, 9355, 5029, 13407, 11671, 3450, 1739, 6804, 16303, 14909, 14709, 8705, 14278, 3664, 5489, 2284, 5806, 6583, 2529, 4965, 14839, 5691, 10860, 6464, 18892, 8490, 17616, 5542, 9622, 13990, 12205, 18778, 14266, 8674, 6256, 11589, 8183, 13850, 4662, 17642, 5212, 3738, 8927, 10007, 16749, 19505, 12010, 17654, 9832, 2515, 11290, 16742, 5023, 5582, 2014, 1796, 6108, 3887, 4990, 8104, 7078, 13817, 6723, 6309, 9058, 6910, 12097, 14631, 3037, 6877, 10325, 11901, 10407, 13068, 18848, 13057, 5288, 6373, 3305, 4063, 18840, 7356, 7275, 6506, 16706, 17661, 16466, 15493, 14510, 9086, 8362, 18885, 11238, 14139, 14307, 13664, 8995, 10121, 13345, 12582, 12009, 11718, 13033, 13929, 17049, 14973, 14382, 18925, 9904, 12587, 18816, 12937, 5255, 7314, 12300, 17748, 18784, 15250, 14682, 12043, 4789, 5411, 4757, 10536, 17291, 2847, 8998, 1908, 3506, 10147, 10524, 11942, 7680, 3210, 12398, 3498, 3766, 11531, 2988, 2219, 8969, 4054, 16530, 3516, 5586, 2379, 14463, 6623, 2234, 3630, 3099, 2241, 5099, 10023, 3659, 3761, 5468, 1737, 5451, 3237, 1891, 8352, 1934, 12613, 4604, 3272, 10150, 4132, 15640, 18791, 11597, 10811, 15466, 7964, 6143, 10480, 5814, 7412, 11992, 2616, 14664, 5449, 16865, 11978, 15658, 1917, 10597, 14813, 20002, 9907, 14353, 5164, 8265, 15004, 10002, 1919, 5245, 5179, 14026, 12127, 10564, 9060, 14331, 2112, 10999, 13699, 6390, 15238, 9178, 9573, 10221, 12172, 4721, 8193, 11739, 10486, 15051, 7411, 2232, 4160, 6293, 18796, 11891, 10915, 1818, 9274, 4795, 7086, 7601, 10964, 7784, 8283, 11458, 2313, 1902, 10836, 16365, nan, 7415, 11032, 16392, 12115, 18898, 9744, 6845, 7381, 12785, 12311, 7109, 12180, 10129, 8982, 5497, 9742, 9087, 4713, 3930, 9641, 3283, 12704, 6886, 9790, 8755, 3911, 6751, 14639, 3636, 2528, 7946, 8341, 6786, 9438, 9970, 3125, 8627, 3124, 12266, 3829, 17540, 9466, 6225, 5654, 7379, 11474, 4867, 13021, 3252, 16845, 11398, 2752, 4397, 1944, 4189, 6001, 8190, 7309, 14235, 14134, 16572, 18813, 18924, 13061, 7723, 9829, 12219, 4643, 6004, 7801, 3972, 12551, 1726, 6996, 16113, 3959, 5326, 13098, 6730, 14670, 7582, 8914, 16292, 7877, 3916, 8780, 3497, 9185, 9751, 15330, 5676, 6011, 1826, 14013, 15394, 6109, 3268, 4152, 2690, 3584, 12555, 6466, 14506, 12102, 2563, 8167, 4328, 6987, 6577, 8990, 8957, 5083, 7128, 14189, 12693, 3609, 5239, 6474, 6835, 2451, 12991, 8683, 5289, 5203, 8665, 8084, 4426, 4012, 2452, 2552, 11717, 3074, 7440, 16622, 3276, 13546, 7754, 1742, 16034, 6188, 6933, 8607, 8682, 9765, 10050, 9059, 16495, 6820, 11725, 12835, 18862, 16169, 16305, 4332, 8926, 2256, 9608, 16208, 11345, 7327, 2319, 7610, 10196, 14405, 3760, 9946, 8307, 4127, 6991, 4523, 5739, 5949, 5077, 6643, 3701, 16015, 9184, 3317, 6574, 11385, 9892, 3524, 13542, 11919, 8080, 1992, 7292, 16095, 16145, 6586, 3823, 7794, 12179, 4591, 4021, 2970, 14657, 14516, 4308, 3481, 8900, 5318, 9738, 9822, 2488, 18811, 11844, 12145, 11857, 10929, 8792, 13943, 6541, 7704, 3507, 15155, 14697, 5517, 4938, 5668]

,Target_ID,ProtBERT_Features,Gene_enco,mapping_arr
0,Gene::3725,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",1716.0,0
1,Gene::10014,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",1718.0,1
2,Gene::2099,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",1720.0,2
3,Gene::960,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",1726.0,3
4,Gene::1017,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",1737.0,4
...,...,...,...,...
1380,Gene::404037,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",21260.0,1380
1381,Gene::200909,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",22598.0,1381
1382,Gene::107080644,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",NaN,1382
1383,Gene::,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",NaN,1383
1384,Gene::104909134,"[0.030560227, 0.02434674, 0.13633652, 0.032938...",NaN,1384

In [127]:
result
davis_pfeat = {"Target_ID" : result["Target_ID"].values, "ProtBERT_Features" : result["ProtBERT_Features"], "Gene_enco" : result["Gene_enco"].values, "map_arr" : result["mapping_arr"].values}
davis_pfeat

{'Target_ID': array(['Gene::3725', 'Gene::10014', 'Gene::2099', ..., 'Gene::107080644',
        'Gene::', 'Gene::104909134'], dtype=object),
 'ProtBERT_Features': 0       [0.030560227, 0.02434674, 0.13633652, 0.032938...
 1       [0.030560227, 0.02434674, 0.13633652, 0.032938...
 2       [0.030560227, 0.02434674, 0.13633652, 0.032938...
 3       [0.030560227, 0.02434674, 0.13633652, 0.032938...
 4       [0.030560227, 0.02434674, 0.13633652, 0.032938...
                               ...
 1380    [0.030560227, 0.02434674, 0.13633652, 0.032938...
 1381    [0.030560227, 0.02434674, 0.13633652, 0.032938...
 1382    [0.030560227, 0.02434674, 0.13633652, 0.032938...
 1383    [0.030560227, 0.02434674, 0.13633652, 0.032938...
 1384    [0.030560227, 0.02434674, 0.13633652, 0.032938...
 Name: ProtBERT_Features, Length: 1385, dtype: object,
 'Gene_enco': array([1716., 1718., 1720., ...,   nan,   nan,   nan]),
 'map_arr': array([   0,    1,    2, ..., 1382, 1383, 1384])}

In [136]:
import pickle
with open("VEC_target_feats_tmp.pkl", 'wb') as f:
    pickle.dump(davis_pfeat, f)

print(f"Dictionary saved as pickle file")

Dictionary saved as pickle file

In [99]:

with open('DAVIS_target_feats_tmp.pkl', 'rb') as f:
    x = pickle.load(f, encoding='utf-8')
print(x.keys())
print(type((x['ProtBERT_Features'])))
print(x['ProtBERT_Features'])

dict_keys(['Target_ID', 'ProtBERT_Features', 'Gene_enco', 'map_arr'])
<class 'pandas.core.series.Series'>
0      [0.030560208, 0.024346584, 0.13633646, 0.03293...
1      [0.030560208, 0.024346584, 0.13633646, 0.03293...
2      [0.030560208, 0.024346584, 0.13633646, 0.03293...
3      [0.030560208, 0.024346584, 0.13633646, 0.03293...
4      [0.030560208, 0.024346584, 0.13633646, 0.03293...
                             ...
252    [0.030560208, 0.024346584, 0.13633646, 0.03293...
253    [0.030560208, 0.024346584, 0.13633646, 0.03293...
254    [0.030560208, 0.024346584, 0.13633646, 0.03293...
255    [0.030560208, 0.024346584, 0.13633646, 0.03293...
256    [0.030560208, 0.024346584, 0.13633646, 0.03293...
Name: ProtBERT_Features, Length: 257, dtype: object